global
{
	themeColor: #666666;
	fontFamily: Arial;
	fontSize: 11;
	color: #000000;
	disabledColor: #454545;
	cornerRadius: 0;
}
Application
{
	fontSize: 11;
	fontFamily: Arial;
	color: #000000;
	backgroundGradientAlphas: 1.0, 1.0;
}

Accordion {
	borderStyle: none;
	cornerRadius: 0;
	headerHeight: 35;
	paddingLeft: -1;
	paddingRight: -1;
	paddingTop: 0;
	paddingBottom: 0;	
	headerStyleName: accordionHeader;
}

.myaccordionHeader {
	color: #CCCCCC;
	textRollOverColor: #CCCCCC;
	textSelectedColor: #CCCCCC;
}

.accordionHeader
{
	fillAlphas: 1.0, 1.0;
	fontSize: 12;
	text-indent: 5;
	font-weight: bold;
	fontFamily: Arial;
	textRollOverColor: #CCCCCC;
	textSelectedColor: #CCCCCC;	
}

TabNavigator {
	tabHeight: 32;
	tabWidth: 92;
	cornerRadius: 0;
	horizontalAlign: left;
	textIndent: 0;
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #CCCCCC;
	tabStyleName: tabNavigatorTab;
	firstTabStyleName: tabNavigatorTab;
	lastTabStyleName: tabNavigatorTab;
}

.tabNavigatorTab {
	cornerRadius: 0;
}

TitleWindow 
{
	color: #000000;
	backgroundAlpha: 1.0;
	borderAlpha: 1.0;
	cornerRadius: 0;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	controlBarStyleName: alertControlBar;
	paddingBottom: 20;
	statusStyleName: alertStatus;
	paddingTop: 10;
	titleStyleName: alertTitle;
	roundedBottomCorners: false;
	borderColor: #000000;
	cornerRadius: 0;
}
Alert
{
	color: #000000;
	backgroundAlpha: 1.0;
	borderAlpha: 1.0;
	cornerRadius: 0;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	controlBarStyleName: alertControlBar;
	paddingBottom: 20;
	statusStyleName: alertStatus;
	paddingTop: 10;
	roundedBottomCorners: false;
	cornerRadius: 0;
	borderColor: #000000;	
	titleStyleName: alertTitle;
	buttonStyleName: "button";
}
ErrorPopup
{
	paddingBottom: 4;
	paddingTop: 4;
	borderColor: #000000;
}

MultistepNavigator
{
	outlineLineColor: #CCCCCC;
    completeLineColor: #000000;	
}

MultistepBar
{	
	fontSize: 10;
}

DataGrid
{
	verticalAlign: middle;
	fontSize: 10; 
	headerStyleName: dataGridHeader;
	fontWeight: normal;
	color: #000000;
	headerColors: #FFFFFF, #999999;
	horizontalGridLines: false;
	alternatingItemColors: #FFFFFF, #EEEDED;
	paddingBottom: 2;
}

.dataGridHeader
{
	fontSize: 10; 
	fontWeight: normal;
	headerHeight: 20;
}

.money
{
	textAlign: right;
}

.menuButton
{
	themeColor: #000000;
	vertical-align: bottom;
	text-align: left;
	textRollOverColor: #000000;
	selectionColor: #FFFFFF;
	skin: ClassReference("com.catlin.cargo.view.menu.TopMenuLinkButtonSkin");
	paddingTop: 20;
}

Form
{
	cornerRadius: 0;
	verticalGap: 2;
}

FormItem
{
	cornerRadius: 0;
	borderStyle: none;
	labelStyleName: leftTextAlignLabel;
	paddingTop: 0;
	paddingBottom: 1;
}

.leftTextAlignLabel {
	textAlign: left;
}
TextInput
{
	borderColor: #CCCCCC;
}
ComboBox
{
	cornerRadius: 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #ffffff, #ffffff, #ffffff, #eeeeee;
	themeColor: #999999;
	dropdownStyleName: comboBoxDropdown;
	fontWeight: normal;
	leading: 0;
	disabledSkin: ClassReference("com.catlin.ui.flex.skin.DisabledComboBoxSkin");
}
.comboBoxDropdown
{
	borderColor: #CCCCCC;
	fontWeight: normal;
	leading: 0;
	borderStyle: solid;
}
.link
{
	color: #0000FF;
	textDecoration: underline;
	fontWeight: bold;
}
.cargoErrorStyle
{
	background-color: #FF0000;
	theme-color: #FF0000;
	fill-colors: #FFFFFF, #FF0000;
	background-alpha: 0.2;
	fill-alphas: 0.2, 0.2;
}
.cargoErrorStyleLinkButton
{
	background-color: #FF0000;
	theme-color: #FF0000;
	fill-colors: #FFFFFF, #FF0000;
	background-alpha: 0.2;
	fill-alphas: 0.2, 0.2;
}

Button {
	cornerRadius: 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #FFFFFF, #D2C1C1, #FDFDFD, #E1CFCF;	
	borderColor: #CCCCCC;
	themeColor: #999999;
	borderStyle: solid;
	borderThickness: 1;
}

Button.newQuote
{
	color: #000000;
	fontSize: 12;
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	cornerRadius: 0;
	fontWeight: bold;
	text-align: left;
	themeColor: #999999;
	fillColors: #CCCCCC, #FFFFFF, #999999, #999999;
	textRollOverColor: #000000;
	textSelectedColor: #000000;
}

Button.postCodeForm {
	cornerRadius: 0;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
}

Button.black
{
	fontSize: 10;
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	fontWeight: bold;
	borderColor: #000000;
	themeColor: #000000;
	fillColors: #000000, #000000, #000000, #FFFCE3;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #666666;
	color: #FFFFFF;
	disabledColor: #999999;
	cornerRadius: 0;
}

VBox.ContentArea
{
	borderColor: #CCCCCC;
	borderStyle: solid;
	cornerRadius: 0;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom: 10;
	dropShadowEnabled: true;
	shadowDirection: center;
	shadowDistance: 1;
}

VBox.SubContentArea {
	borderColor: #CCCCCC;
	borderStyle: solid;
	cornerRadius: 0;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
	paddingBottom: 5;
	backgroundColor: #FFFFFF;
}


VBox.LeftAreaVBox
{
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	paddingBottom: 0;
	borderThickness: 1;
	/*borderThicknessLeft: 1;
	borderThicknessRight: 1;*/
	borderColor: #CCCCCC;
	borderStyle: solid;
	cornerRadius: 0;
	color: #000000;
	fontSize:10;
}
.alertControlBar
{
	fontSize: 11;
}
.alertTitle
{
	fontWeight: bold;
}
Grid
{
	verticalGap: 2;
}
HBox.underline
{
	borderSides: bottom;
	borderThickness: 2;
	borderStyle: solid;
	color: #000000;
}
HBox.overline
{
	borderSides: top;
	borderThickness: 2;
	color: #000000;
	borderStyle: solid;
}
.heading1
{
	color: #000000;
	fontSize: 14; 
	fontWeight: bold;
/*	padding-top: 8px;*/
}

.heading2
{
	fontSize: 11; 
	fontWeight: bold;
	padding-top: 6px;
}

.heading3
{
	fontSize: 11;
	padding-left: 5;
}

.contextWarning
{
	fontSize: 12;
	fontWeight: bold;
	color: #990000;
}

.contextNormal
{
	fontSize: 11;
	color: #666666;
}

.footerTips
{
	vertical-align: middle;
}

ToolTip 
{
	fontSize: 10;
}
.headline
{
	fontSize:16px;
	fontWeight:bold;
}

.headlineArea
{
	Height:50px;
	verticalGap:0;
}
List
{
	color: #000000;
	headerColors: #FFFFFF, #999999;
	alternatingItemColors: #FFFFFF, #E4E4E4;
	disabledColor: #CCCCCC;
	rollOverColor: #ECEAE7;
	selectionColor: #a9a9a9;
}

VBox.clauses
{
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #CCCCCC;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	paddingBottom: 0;	
}

HDividedBox {
	dropShadowColor: #999999;
	dropShadowEnabled: true;
	horizontalAlign: left;
	horizontalGap: 15;
	liveDragging: false;
	dividerColor: #847254;
	dividerThickness: 20;
}

@font-face
{
	fontFamily: Arial;
	fontWeight: normal;
	fontStyle: normal;
	src: local("Arial");
}

.contactRegionHeader
{
	color: #FF0000;
	fontWeight: bold;
}

.contactName
{
	fontWeight: bold;
}

.logoutLinkButton {
	fontWeight: bolder;
	font-weight: bold;
	fontSize: 11;
}

.searchTI {
	color: #000000; 
	fontSize: 11; 
}